<%
const breadcrumbs = opt.breadcrumbs && opt.breadcrumbs.length
  ? opt.breadcrumbs
  : _.breadcrumbs || (_.state.title && [{
    name: _.state.title,
    link: _.route.path
  }])

if (Array.isArray(breadcrumbs) && breadcrumbs.length) {
  %>
  <!-- Breakcrumbs -->
  <div class="tf-sp-1 pb-0">
    <div class="container">
      <ul class="breakcrumbs">
        <!-- Home link -->
        <li>
          <a href="/" class="body-small link">
            <%= _.dictionary('home') || 'Home' %>
          </a>
        </li>
        <li class="d-flex align-items-center">
          <i class="icon icon-arrow-right"></i>
        </li>
        
        <% breadcrumbs.forEach(({ name, link }, index) => { %>
          <% if (index < breadcrumbs.length - 1) { %>
            <!-- Inner breadcrumb items -->
            <li
              <% if (index > 0 && index < breadcrumbs.length - 2) { %>
                class="d-none d-md-block"
              <% } %>
            >
              <a href="<%= link %>" class="body-small link">
                <%= name %>
              </a>
            </li>
            <li class="d-flex align-items-center<%= index > 0 && index < breadcrumbs.length - 2 ? ' d-none d-md-flex' : '' %>">
              <i class="icon icon-arrow-right"></i>
            </li>
          <% } else { %>
            <!-- Active (current) breadcrumb item -->
            <li>
              <span class="body-small"><%= name %></span>
            </li>
          <% } %>
        <% }) %>
      </ul>
    </div>
  </div>
  <!-- /Breakcrumbs -->

  <!-- SEO Structured Data -->
  <script type="application/ld+json"><%-
    JSON.stringify({
      '@context': 'https://schema.org',
      '@type': 'BreadcrumbList',
      itemListElement: [
        {
          '@type': 'ListItem',
          position: 1,
          item: {
            '@id': `https://${_.settings.domain}/`,
            name: 'Homepage'
          }
        }
      ].concat(breadcrumbs.map(({ name, link }, index) => {
        return {
          '@type': 'ListItem',
          position: index + 2,
          item: {
            '@id': `https://${_.settings.domain}${link}`,
            name
          }
        }
      }))
    })
  %></script>
<% } %>