<%
const info = _.cms('info')
const barCols = []
;[
  ['shipping', 'shipping-fast'],
  ['installments', 'credit-card'],
  ['exchange', 'exchange'],
  ['promo', 'percent']
].forEach(([prop, icon]) => {
  if (info[prop] && info[prop].show) {
    const { link, title, text } = info[prop]
    barCols.push({ link, title, text, icon })
  }
})
%>

<% if (barCols.length) { %>
  <!-- Iconbox -->
  <div class="tf-sp-2 pt-0">
    <div class="container">
      <div class="swiper tf-sw-iconbox" data-preview="5" data-tablet="3" data-mobile-sm="2" data-mobile="1"
           data-space-lg="20" data-space-md="20" data-space="15">
        <div class="swiper-wrapper">
          <% barCols.forEach(({ link, icon, title, text }, index) => { %>
            <div class="swiper-slide">
              <% if (link && link !== 'javascript:;') { %>
                  <a href="<%= link %>" class="d-block">
                <% } %>
              <div class="tf-icon-box wow fadeInLeft" data-wow-delay="<%= index * 0.1 %>s">
                
                <div class="icon-box">
                  <i class="icon i-<%= icon %>"></i>
                </div>
                <div class="content">
                  <% if(title) { %>
                    <p class="m-0 body-text fw-semibold"><%= title %></p>
                  <% } %>
                  <p class="m-0 body-text-3"><%= text %></p>
                </div>
                
              </div>
              <% if (link && link !== 'javascript:;') { %>
                  </a>
                <% } %>
            </div>
          <% }) %>
        </div>
        <div class="sw-pagination-iconbox sw-dot-default justify-content-center"></div>
      </div>
    </div>
  </div>
  <!-- /Iconbox -->
<% } %>
