<%
const stamps = _.cms('stamps') || {}
let stampsList
if (stamps && Array.isArray(stamps.stamps_list) && stamps.stamps_list.length) {
  stampsList = stamps.stamps_list
}
%>

<section>
  <div id="product-block" class="tf-main-product section-image-zoom">
    <div class="container">
      <section
        id="product"
        class="product bg-white"
        data-to-render="true"
        data-product-id="<%= _.state._id %>"
        data-sku="<%= _.state.sku %>"
      >
        <div id="product-dock">
          <!--
            `TheProduct` should be rendered (hydrated) here:
            https://developers.e-com.plus/storefront/@ecomplus/storefront-components/docs/TheProduct.html
          -->
        </div>

        <div class="row">
          <!-- Left Column - Product Images -->
          <div class="col-md-6">
            <div class="tf-product-media-wrap bg-white thumbs-left" id="product-gallery">
              
            </div>
          </div>

          <!-- Right Column - Product Info -->
          <div class="col-md-6">
            <div class="tf-product-info-wrap bg-white position-relative">
              <div class="tf-zoom-main"></div>
              <div class="tf-product-info-list style-2 justify-content-xl-end">
                <div class="tf-product-info-content">
                  <!-- Product Header -->
                  <div class="infor-heading">
                    <% if (_.state.categories && _.state.categories.length) { %>
                      <p class="caption">
                        <%= _.dictionary('categories') || 'Categories' %>:
                        <a href="/<%= _.state.categories[0].slug %>" class="link text-secondary">
                          <%= _.state.categories[0].name %>
                        </a>
                      </p>
                    <% } %>

                    <h5 class="product-info-name fw-semibold">
                      <%= _.ecomUtils.name(_.state) %>
                    </h5>
                    
                    <ul class="product-info-rate-wrap m-0">
                      <!-- Star Rating -->
                      <% if (_.state.reviews && _.state.reviews.rating) { %>
                        <li class="star-review">
                          <ul class="list-star">
                            <% for (let i = 1; i <= 5; i++) { %>
                              <li>
                                <i class="icon-star <%= i <= Math.round(_.state.reviews.rating) ? '' : 'text-main-4' %>"></i>
                              </li>
                            <% } %>
                          </ul>
                          <% if (_.state.reviews.total) { %>
                            <p class="caption text-main-2">
                              <%= _.dictionary('reviews') || 'Reviews' %> (<%= _.state.reviews.total %>)
                            </p>
                          <% } %>
                        </li>
                      <% } %>
                      
                      <!-- Sales count -->
                      <% if (_.state.sales) { %>
                        <li>
                          <p class="caption text-main-2 m-0"><%= _.dictionary('sold') || 'Vendidos' %>: <%= _.state.sales %></p>
                        </li>
                      <% } %>
                      
                      <!-- SKU -->
                      <li>
                        <p class="caption text-main-2 m-0">
                          <%= _.dictionary('sku') || 'SKU' %>: <%= _.state.sku %>
                        </p>
                      </li>
                    </ul>
                  </div>

                  <!-- Pricing Info -->
                  <div class="infor-center" id="product-actions">
                                      
                  </div>

                  
                

                  <!-- Product Description -->
                  <% if (_.state.short_description) { %>
                    <div class="infor-bottom">
                      <h6 class="fw-semibold">Sobre o produto</h6>
                      <ul class="product-about-list">
                        <li>
                          <p class="body-text-3">
                            <%= _.state.short_description %>
                          </p>
                        </li>
                      </ul>
                    </div>
                  <% } %>

                </div>
              </div>
            </div>
          </div>
        </div>

        <%- await include('@/helpers/widgets-append', {
          _, opt: {}, field: 'productSlots'
        }) %>
      </section>

      <%- await include('@/helpers/widgets-append', {
        _, opt: {}, field: 'productBlockAppend'
      }) %>
    </div>
  </div>
</section>

<!-- Product Schema.org JSON-LD for SEO -->
<%
const productJsonLd = {
  '@context': 'http://schema.org',
  '@type': 'Product',
  sku: _.state.sku,
  description: _.state.short_description || _.state.meta_description || _.ecomUtils.name(_.state),
  name: _.ecomUtils.name(_.state),
  offers: {
    '@type': 'Offer',
    url: `https://${_.settings.domain}/${_.state.slug}`,
    availability: `${(_.ecomUtils.inStock(_.state) ? 'In' : 'OutOf')}Stock`,
    priceCurrency: _.settings.currency,
    price: _.ecomUtils.price(_.state),
    itemCondition: `http://schema.org/${(_.state.condition === 'new' ? 'New' : 'Used')}Condition`,
    priceValidUntil: _.ecomUtils.onPromotion(_.state) && _.state.price_effective_date && _.state.price_effective_date.end
      ? _.state.price_effective_date.end.slice(0, 10)
      : undefined,
    seller: {
      '@type': 'Organization',
      name: _.settings.name || _.store.name
    }
  }
}

if (_.state.brands && _.state.brands[0]) {
  productJsonLd.brand = {
    '@type': 'Brand',
    name: _.state.brands[0].name
  }
}

if (_.state.pictures && _.state.pictures.length) {
  productJsonLd.image = _.ecomUtils.img(_.state, null, 'zoom').url
    .replace(/(\w+\.)?(ecoms\d)\.com/i, '$2-nyc3.nyc3.cdn.digitaloceanspaces.com')
}

if (_.state.mpn && _.state.mpn[0]) {
  productJsonLd.mpn = _.state.mpn[0]
}

if (_.state.gtin && _.state.gtin[0]) {
  productJsonLd.gtin = _.state.gtin[0]
}
%>
<script id="product-block-jsonld" type="application/ld+json"><%-
  JSON.stringify(productJsonLd)
%></script>

<!-- Initialize Product Gallery -->
<script>
  document.addEventListener('DOMContentLoaded', function() {
  // Update JSON-LD for variations
  setTimeout(() => {
    const urlParams = new URLSearchParams(window.location.search);
    const variationId = urlParams.get('variation_id');
    const variations = window._context.body && window._context.body.variations;
    if (Array.isArray(variations) && variationId) {
      const selectedVariation = variations.find(variation => variation._id === variationId);
      if (selectedVariation) {
        const $jsonLd = document.querySelector('#product-block-jsonld');
        const jsonLd = JSON.parse($jsonLd.innerText);
        jsonLd.sku = selectedVariation.sku;
        jsonLd.offers.price = selectedVariation.price;
        jsonLd.name = (selectedVariation.name && selectedVariation.name.replace('"', '')) || jsonLd.name;
        jsonLd.offers.url = `${jsonLd.offers.url}?variation_id=${variationId}`;
        document.querySelector('#product-block-jsonld').innerText = JSON.stringify(jsonLd);
      }
    }
  }, 50);
});
</script>