<%
// load footer options and contacts from content
const footer = _.cms('footer') || {}
const contacts = _.cms('contacts') || {}
const themeCustom = _.settings.theme.custom || ''

const apx_newsletter = _.cms('apx_newsletter') || {}
const apx_latest_menu = _.cms('apx_latest_menu') || {}
%>
<div id="message-container"></div>
<div id="favorites-quickview">
  <div class="backdrop"></div>
  <aside class="favorites__aside card shadow">
    <header class="card-header">
      <div class="row apx-side-heading">
        <div class="col">
          <span>Favoritos</span>
        </div>
        <div class="col-auto">
          <button type="button" aria-label="Fechar" class="close" style="opacity:1"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M18 6L6 18M6 6L18 18" stroke="#131313" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg></button>
        </div>
      </div>
    </header>
    <article class="favorites__body card-body">
    </article>      
  </aside>
</div>
<footer class="tf-footer">
  <div class="ft-body-wrap">
    
    <!-- Newsletter Section -->
    <div class="ft-body-center bg-gray">
      <div class="container">
        <div class="ft-center justify-content-xxl-between">
          <p class="notice text-white justify-content-xxl-between m-0">
            <span class="main-title fw-semibold">
              <img src="<%= _.assetsPrefix || '' %>/img/mail.svg" alt="">
              <%= apx_newsletter.title || _.dictionary('newsletterTitle') || 'Assine nossa newsletter' %>
            </span>
            <span class="body-text-3">
               <%= apx_newsletter.description || _.dictionary('newsletterTitle') || 'E receba novidades em primeira mão' %>
            </span>
          </p>
          <form 
            action="javascript:;" 
            id="newsletter-form" 
            class="form-newsletter" 
            method="post"
          >
            <div class="subscribe-content">
              <fieldset class="email d-flex gap-2">               
                <input 
                  type="text" 
                  name="name" 
                  class="subscribe-name type-fs-2" 
                  placeholder="<%= _.dictionary('namePlaceholder') || 'Seu nome...' %>" 
                  tabindex="0" 
                  aria-required="true"
                  required
                >
                 <input 
                  type="email" 
                  name="email" 
                  class="subscribe-email type-fs-2" 
                  placeholder="<%= _.dictionary('emailPlaceholder') || 'Seu e-mail...' %>" 
                  tabindex="0" 
                  aria-required="true"
                  required
                >
              </fieldset>
              <div class="button-submit">
                <button class="subscribe-button tf-btn btn-large hover-shine" type="submit">
                  <span class="body-md-2 fw-semibold text-white">
                    <%= _.dictionary('subscribe') || 'Subscribe' %>
                  </span>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="ft-body-inner">
      <div class="container">
        <div class="ft-inner flex-wrap flex-xl-nowrap">
          <!-- Footer Logo & Payment Methods -->
          <div class="ft-logo">
            <a href="/" class="logo-site">
              <img 
                src="<%= _.settings.logo || _.assetsPrefix + '/img/uploads/logo.png' %>" 
                alt="<%= _.settings.name %>"
              >
            </a>
            <div class="method-payment">
              <p>Pagamento e segurança</p>
              <ul class="method-list">
                <% Object.keys(footer.payment_methods || {}).forEach(method => { %>
                  <% if (footer.payment_methods[method]) { %>
                    <li>
                      <i class="pay-icon pay-icon--<%= method %>"></i>
                    </li>
                  <% } %>
                <% }) %>
              </ul>
              <%- await include(`@/sections/stamps`, { _, opt: { stamps: footer.stamps } }) %>
            </div>
           
         
            
            
          </div>
          
          <!-- Footer Links Grid -->
          <ul class="ft-link-wrap w-100 tf-grid-layout md-col-2 lg-col-3">
            <% if (footer.links_1.list_pages || footer.links_1.list.find(({ url }) => url)) { %>
              <li class="footer-col-block">
                <h6 class="ft-heading footer-heading-mobile fw-semibold">
                  <%= footer.links_1.title || _.dictionary('pages') %>
                </h6>
                <div class="tf-collapse-content">
                  <ul class="ft-menu-list">
                    <% if (footer.links_1.list_pages) { %>
                      <% (_.cms('pages') || []).forEach(slug => { %>
                        <% const { title } = _.cms(`pages/${slug}`) %>
                        <li>
                          <a href="/pages/<%= slug %>" class="link">
                            <%= title %>
                          </a>
                        </li>
                      <% }) %>
                    <% } else { %>
                      <% footer.links_1.list.forEach(({ url, text }) => { %>
                        <li>
                          <a href="<%= url %>" class="link">
                            <%= text %>
                          </a>
                        </li>
                      <% }) %>
                    <% } %>
                  </ul>
                </div>
              </li>
            <% } %>

            <% if (footer.links_2.list_categories || footer.links_2.list.find(({ url }) => url)) { %>
              <li class="footer-col-block">
                <h6 class="ft-heading footer-heading-mobile fw-semibold">
                  <%= footer.links_2.title || _.dictionary('categories') %>
                </h6>
                <div class="tf-collapse-content">
                  <ul class="ft-menu-list">
                    <% if (footer.links_2.list_categories) { %>
                      <% _.categories.forEach(({ name, slug, parent }) => { %>
                        <% if (!parent) { %>
                          <li>
                            <a href="/<%= slug %>" class="link">
                              <%= name %>
                            </a>
                          </li>
                        <% } %>
                      <% }) %>
                    <% } else { %>
                      <% footer.links_2.list.forEach(({ url, text }) => { %>
                        <li>
                          <a href="<%= url %>" class="link">
                            <%= text %>
                          </a>
                        </li>
                      <% }) %>
                    <% } %>
                  </ul>
                </div>
              </li>
            <% } %>
            
            

            <!-- Contact Info -->
            <li class="footer-col-block type-sp-2">
              <h6 class="ft-heading footer-heading-mobile fw-semibold">
                <%= footer.contacts.title || _.dictionary('contactUs') %>
              </h6>
              <div class="tf-collapse-content">
                <ul class="ft-menu-list ft-contact-list">
                  <% if (footer.contacts.address && contacts.address) { %>
                    <li>
                      <span class="icon">
                        <i class="icon-location"></i>
                      </span>
                      <a href="#" class="link">
                        <%= contacts.address %>
                      </a>
                    </li>
                  <% } %>
                  
                  <% if (footer.contacts.phone_wpp && contacts.phone) { %>
                    <li>
                      <span class="icon">
                        <i class="icon-phone"></i>
                      </span>
                      <a href="tel:+<%= contacts.phone.replace(/\D/g, '') %>" class="product-title">
                        <span class="product-title text-primary">
                          <%= contacts.phone %>
                        </span>
                      </a>
                    </li>
                  <% } %>
                  
                  <% if (footer.contacts.phone_wpp && contacts.whatsapp) { %>
                    <li>
                      <span class="icon">
                        <i class="icon-whatapp"></i>
                      </span>
                      <a href="javascript:;" target="_blank" rel="noopener" class="whatsapp-link product-title" data-tel="<%= contacts.whatsapp.replace(/\D/g, '') %>">
                        <span class="product-title text-primary">
                          <%= contacts.whatsapp %>
                        </span>
                      </a>
                    </li>
                  <% } %>
                  
                  <% if (footer.contacts.email && contacts.email) { %>
                    <li>
                      <span class="icon">
                        <i class="icon-direction"></i>
                      </span>
                      <a href="mailto:<%= contacts.email %>">
                        <span class="text-primary">
                          <%= contacts.email %>
                        </span>
                      </a>
                    </li>
                  <% } %>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    
    
    <!-- Footer Bottom -->
    <div class="ft-body-bottom ">
      <div class="container">
        <div class="ft-bottom pb-0">
          <!-- Social Links -->
          <ul class="social-list">
            <%- await include('@/layout/inc/networks', { _, contacts }) %>
          </ul>
          
          <!-- Bottom Menu -->
          <ul class="ft-menu-list-2 body-text-3 m-0">
            <% (apx_latest_menu.latest_menu || []).forEach(item => { %>
              <li>
                <a href="<%= item.url %>" class="title-sidebar link fw-bold">
                  <%= item.title %>
                </a>
              </li>
            <% }) %>
          </ul>
          
          <!-- Copyright -->
          <p class="nocopy caption text-center">
            <%= footer.credits || `© ${_.store.name} / ${contacts.address} / ${contacts.doc_number}` %>
          </p>
          
         
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Scroll Top -->
    <button id="goTop">
        <span class="border-progress"></span>
        <span class="icon icon-arrow-right"></span>
    </button>
<!-- Scripts -->
<script src="<%= _.assetsPrefix || '' %>/js/bootstrap.min.js"></script>
<script src="<%= _.assetsPrefix || '' %>/js/jquery.min.js"></script>
<script src="<%= _.assetsPrefix || '' %>/js/swiper-bundle.min.js"></script>
<script src="<%= _.assetsPrefix || '' %>/js/carousel.js"></script>
<script src="<%= _.assetsPrefix || '' %>/js/bootstrap-select.min.js"></script>
<script src="<%= _.assetsPrefix || '' %>/js/lazysize.min.js"></script>
<script src="<%= _.assetsPrefix || '' %>/js/count-down.js"></script>
<script src="<%= _.assetsPrefix || '' %>/js/wow.min.js"></script>
<script src="<%= _.assetsPrefix || '' %>/js/multiple-modal.js"></script>
<script src="<%= _.assetsPrefix || '' %>/js/infinityslide.js"></script>
<script src="<%= _.assetsPrefix || '' %>/js/simpleParallaxVanilla.umd.js"></script>
<script src="<%= _.assetsPrefix || '' %>/js/main.js"></script>
<!-- <script type="module" src="<%= _.assetsPrefix || '' %>/js/zoom.js"></script> -->
<%- await include('@/layout/inc/ecom-credits') %>