<%
const contacts = _.cms('contacts') || {}
const footer = _.cms('footer') || {}
const logo = _.settings.logo
  ? { url: (_.assetsPrefix || '') + _.settings.logo, alt: _.settings.name }
  : _.store.logo

const apx_latest_menu = _.cms('apx_latest_menu') || {}
%>

<!doctype html>
<html lang="<%= _.lang.replace('_', '-') %>" dir="ltr">

<head>
  <%- await include('@/head') %>
</head>

<body class="app">
  <header class="app__header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-sm-auto mb-2 mb-sm-0">
          <a href="/">
            <% if (logo && logo.url) { %>
              <img class="app__logo" src="<%= logo.url %>" alt="<%= logo.alt %>">
            <% } else { %>
              <%= _.settings.name || _.store.name %>
            <% } %>
          </a>
        </div>

        <div class="col">
          <div class="app__contact">
            <span class="d-none d-md-inline">
              <%= _.dictionary('needHelpQn') %> <%= _.dictionary('callTo') %>
            </span>
            <% if (contacts.whatsapp) { %>
              <span><%= contacts.whatsapp %></span>
            <% } %>
            <% if (contacts.phone) { %>
              <span><%= contacts.phone %></span>
            <% } %>
          </div>

          <div class="app__safe">
            <span class="app__safe-icon">
              <i class="i-shield"></i>
            </span>
            <%= _.dictionary('safeEnvMsg') %>
          </div>
        </div>
      </div>
    </div>
  </header>

  <main id="spa">
    <div id="storefront-app">
      <%- await include('@/sections/inc/loading') %>
    </div>
  </main>

  <footer class="tf-footer">
  <div class="ft-body-wrap">
    
    <!-- Newsletter Section -->
   
    <div class="ft-body-inner">
      <div class="container">
        <div class="ft-inner flex-wrap flex-xl-nowrap">
          <!-- Footer Logo & Payment Methods -->
          <div class="ft-logo">
            <a href="/" class="logo-site">
              <img 
                src="<%= _.settings.logo || _.assetsPrefix + '/img/uploads/logo.png' %>" 
                alt="<%= _.settings.name %>"
              >
            </a>
            <div class="method-payment">
              <p>Pagamento e segurança</p>
              <ul class="method-list">
                <% Object.keys(footer.payment_methods || {}).forEach(method => { %>
                  <% if (footer.payment_methods[method]) { %>
                    <li>
                      <i class="pay-icon pay-icon--<%= method %>"></i>
                    </li>
                  <% } %>
                <% }) %>
              </ul>
              <%- await include(`@/sections/stamps`, { _, opt: { stamps: footer.stamps } }) %>
            </div>
           
         
            
            
          </div>
          
          <!-- Footer Links Grid -->
          <ul class="ft-link-wrap w-100 tf-grid-layout md-col-2 lg-col-3">
            <% if (footer.links_1.list_pages || footer.links_1.list.find(({ url }) => url)) { %>
              <li class="footer-col-block">
                <h6 class="ft-heading footer-heading-mobile fw-semibold">
                  <%= footer.links_1.title || _.dictionary('pages') %>
                </h6>
                <div class="tf-collapse-content">
                  <ul class="ft-menu-list">
                    <% if (footer.links_1.list_pages) { %>
                      <% (_.cms('pages') || []).forEach(slug => { %>
                        <% const { title } = _.cms(`pages/${slug}`) %>
                        <li>
                          <a href="/pages/<%= slug %>" class="link">
                            <%= title %>
                          </a>
                        </li>
                      <% }) %>
                    <% } else { %>
                      <% footer.links_1.list.forEach(({ url, text }) => { %>
                        <li>
                          <a href="<%= url %>" class="link">
                            <%= text %>
                          </a>
                        </li>
                      <% }) %>
                    <% } %>
                  </ul>
                </div>
              </li>
            <% } %>

            <% if (footer.links_2.list_categories || footer.links_2.list.find(({ url }) => url)) { %>
              <li class="footer-col-block">
                <h6 class="ft-heading footer-heading-mobile fw-semibold">
                  <%= footer.links_2.title || _.dictionary('categories') %>
                </h6>
                <div class="tf-collapse-content">
                  <ul class="ft-menu-list">
                    <% if (footer.links_2.list_categories) { %>
                      <% _.categories.forEach(({ name, slug, parent }) => { %>
                        <% if (!parent) { %>
                          <li>
                            <a href="/<%= slug %>" class="link">
                              <%= name %>
                            </a>
                          </li>
                        <% } %>
                      <% }) %>
                    <% } else { %>
                      <% footer.links_2.list.forEach(({ url, text }) => { %>
                        <li>
                          <a href="<%= url %>" class="link">
                            <%= text %>
                          </a>
                        </li>
                      <% }) %>
                    <% } %>
                  </ul>
                </div>
              </li>
            <% } %>
            
            

            <!-- Contact Info -->
            <li class="footer-col-block type-sp-2">
              <h6 class="ft-heading footer-heading-mobile fw-semibold">
                <%= footer.contacts.title || _.dictionary('contactUs') %>
              </h6>
              <div class="tf-collapse-content">
                <ul class="ft-menu-list ft-contact-list">
                  <% if (footer.contacts.address && contacts.address) { %>
                    <li>
                      <span class="icon">
                        <i class="icon-location"></i>
                      </span>
                      <a href="#" class="link">
                        <%= contacts.address %>
                      </a>
                    </li>
                  <% } %>
                  
                  <% if (footer.contacts.phone_wpp && contacts.phone) { %>
                    <li>
                      <span class="icon">
                        <i class="icon-phone"></i>
                      </span>
                      <a href="tel:+<%= contacts.phone.replace(/\D/g, '') %>" class="product-title">
                        <span class="product-title text-primary">
                          <%= contacts.phone %>
                        </span>
                      </a>
                    </li>
                  <% } %>
                  
                  <% if (footer.contacts.phone_wpp && contacts.whatsapp) { %>
                    <li>
                      <span class="icon">
                        <i class="icon-whatapp"></i>
                      </span>
                      <a href="javascript:;" target="_blank" rel="noopener" class="whatsapp-link product-title" data-tel="<%= contacts.whatsapp.replace(/\D/g, '') %>">
                        <span class="product-title text-primary">
                          <%= contacts.whatsapp %>
                        </span>
                      </a>
                    </li>
                  <% } %>
                  
                  <% if (footer.contacts.email && contacts.email) { %>
                    <li>
                      <span class="icon">
                        <i class="icon-direction"></i>
                      </span>
                      <a href="mailto:<%= contacts.email %>">
                        <span class="text-primary">
                          <%= contacts.email %>
                        </span>
                      </a>
                    </li>
                  <% } %>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    
    
    <!-- Footer Bottom -->
    <div class="ft-body-bottom ">
      <div class="container">
        <div class="ft-bottom pb-0">
          <!-- Social Links -->
          <ul class="social-list">
            <%- await include('@/layout/inc/networks', { _, contacts }) %>
          </ul>
          
          <!-- Bottom Menu -->
          <ul class="ft-menu-list-2 body-text-3 m-0">
            <% (apx_latest_menu.latest_menu || []).forEach(item => { %>
              <li>
                <a href="<%= item.url %>" class="title-sidebar link fw-bold">
                  <%= item.title %>
                </a>
              </li>
            <% }) %>
          </ul>
          
          <!-- Copyright -->
          <p class="nocopy caption text-center">
            <%= footer.credits || `© ${_.store.name} / ${contacts.address} / ${contacts.doc_number}` %>
          </p>
          
         
        </div>
      </div>
    </div>
  </div>
</footer>
<%- await include('@/layout/inc/ecom-credits') %>
  <%- await include('@/json', { _ }) %>
  <%- await include('@/scripts') %>
</body>

</html>
